# файл с названиями всех статей и рецензетов по ним
1_6.xlsx

#тестовые статьи из интернета
статья_1.txt
статья_2.txt
статья_3.txt

# архив текстовых статей
articles_6.zip

# обработанные статьи в формате pkl
clean_texts_articles_6.pkl

# модель cointegrated/rut5-base-absum
absum/

# распакованная папка со всеми статьями для показа на защиту
articles_6/

# предобученная на всех 923 статьях полносвязная нейронная сеть с векторизатором OneHotEncoding
model_checkpoint.pth