flask
jinja2>=3.0

torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1

transformers==4.35.2
accelerate==0.24.1
safetensors

pandas
numpy<2
scikit-learn
openpyxl

pymorphy3
nltk

sentencepiece
protobuf